{
	"database": {
		"type": "postgres",
		"host": "localhost",
		"port": "5432",
		"username": "root",
		"password": "makethissecure",
		"database": "project-deity"
	},
	"discord": {
		"guild": 123456789123456789
	}
}
